.volume-label {
  display: flex;
  position: absolute;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 8px;
}

.volume-slider {
  appearance: none;
  width: 100%;
  height: 6px;
  background: #f2f2f2;
  outline: none;
  opacity: 0.7;
  transition: opacity .2s;
}

@media (hover: hover) {
  .volume-slider {
    opacity: 0.7;

    &:hover {
      opacity: 1;
      cursor: pointer;
    }
  }
}

/* The slider handle (webkit: Chrome, Opera, Safari, Edge; moz: Firefox) */
.volume-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 6px;
  height: 6px;
  background: #4589b7;
  cursor: pointer;
}

.volume-slider::-moz-range-thumb {
  width: 6px;
  height: 6px;
  background: #4589b7;
  cursor: pointer;
}

@media (max-width: 850px) {
  .volume-label {
    margin-top: 5px;
  }

  .volume-slider {
    height: 3px;
  }
}