$placed: #b3aa92;
$neutral: #fffbf1;
$attacked: #a10000eb;
$border: #a06f35d1;

*,
*:before,
*:after {
  box-sizing: inherit;
  font-family: inherit;
  margin: 0;
}

html {
  box-sizing: border-box;
  background-image: linear-gradient(354deg, #ac7a00, #0f0c04);
  font-family: "Poiret One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.hidden {
  display: none !important;
}

.material-icons {
  font-size: 37px;
  color: #223a14;
}

button,
select {
  border: none;
  background-color: #b4c3ae;
  opacity: 0.75;
  transition: 0.3s;

  &:hover {
    cursor: pointer;
    opacity: 1;
  }

  &:focus {
    outline: none;
  }
}

button:disabled {
  pointer-events: none;
}

.container {
  height: 100vh;
  display: grid;
  align-items: center;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100px 1fr;
  background-image: url('../images/hall2.jpg');
  background-size: cover;
  background-position: center;
}

.control-panel {
  width: 100%;
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  grid-column: span 2;
  background-color: #a0703598;
  align-self: stretch;

  div,
  button {
    margin: 10px;
  }

  select {
    width: 100%;
  }

  select,
  button {
    font-size: 16px;
    padding: 5px;
  }

  h3 {
    color: #2f0a05;
    margin-bottom: 4px;
    font-size: 36px;
    font-family: "Tangerine", cursive;

  }
}

.reset {
  background-color: #7a2e2e;
  color: white;
}

.control-panel .navigation,
.control-panel .reset {
  font-size: 20px;
  padding: 6px;
  position: relative;
}

.control-panel .navigation:enabled:before {
  content: "";
  position: absolute;
  top: -4px;
  left: -4px;
  animation: enabled 800ms 1 forwards;
  animation-timing-function: cubic-bezier(0.37, 0, 0.63, 1);
  width: calc(100% + 8px);
  height: calc(100% + 8px);
}

@keyframes enabled {
  0% {border: 4px solid #ffffff00;}
  50% {border: 4px solid #83cded;}
  100% {border: 4px solid #48b1ddeb;}
}

.control-panel.in-game,
.control-panel.setup {
  align-items: center;
}

.control-panel > * {
  display: none;
}
.control-panel.preferences .settings {
  display: block;
}
.control-panel.setup .reset {
  display: block;
}
.control-panel.in-game.two-player .navigation,
.control-panel.in-game .reset {
  display: block;
}

.curtain {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #4f5f2f;
  z-index: 10;
  opacity: 1;
  transition: opacity 2s;
  pointer-events: none;
}

.invisible {
  opacity: 0;
}

.board::before,
.board-setup-container::before {
  content: "Intermission...";
  position: absolute;
  transform: translate(-14px, -70px);
  color: #053778;
  background-color: #e2e2e280;
  padding: 7px;
  width: calc(100% + 28px);
  font-family: "Tangerine", cursive;
  font-size: 31px;
}

#board1::before {
  content: 'Intermission...';
}
#board1:has(.invisible)::before {
  content: "Player 1's Board";
}
#board2::before {
  content: 'Intermission...'
}
#board2:has(.invisible)::before {
  content: "Player 2's Board";
}
.board-setup-container:has(.invisible)::before {
  content: "Position Instruments"
}

.defense::before {
  color: #de130f;
  background-color: #371e00ab;
}

.board {
  position: relative;
  margin: 30px;
  border: 14px solid #a06f35d1;
  width: 80%;
  justify-self: center;
  aspect-ratio: 1;
  display: inline-grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-row-start: 2;

  .cell {
    background-color: $neutral;
    border: 0.5px solid #45280f;

    &.attacked {
      background-color: #90c1fff5;
      pointer-events: none;

      &.highlight-placed {
        background-color: $attacked;
      }
    }
  }

  .highlight-hovered {
    background-color: aquamarine;
  }

  .highlight-placed {
    background-color: $placed;
    z-index: 2;
  }

  &.defense {
    grid-column-start: 2;

    .highlight-placed {
      background-color: $neutral;
    }

    .cell {
      &:hover {
        cursor: pointer;
        background-color: #d90000ed;
      }

      &.sunk {
        &.highlight-placed {
          background-color: $attacked;
        }
      }
    }
  }

  &.offense {
    grid-column-start: 1;
    pointer-events: none;
  }

  &.disabled {
    pointer-events: none;
  }
}

.placed-img {
  object-fit: contain;
  padding: 5px;
  transform-origin: 0 0;
}

.placed-img-wrapper {
  border: 0.5px solid black;
  overflow: hidden;
  z-index: 3;
  opacity: 0.8;
}

.defense .placed-img-wrapper {
  // hide and allow pointer events on cells
  opacity: 0;
  z-index: 1;
}

.offense .placed-img-wrapper,
.sunk.placed-img-wrapper,
.game-over .placed-img-wrapper {
  z-index: 3;
  opacity: 0.8;
}

.board-setup-container {
  position: relative;
  display: grid;
  grid-template-rows: 116px 1fr 55px;
  grid-row-start: 2;
  margin: 30px;
  border: 14px solid $border;
  width: 80%;
  justify-self: center;
  aspect-ratio: 1;

  button {
    background: none;
    padding: 0;

    &:disabled {
      opacity: 35%;
    }
  }
}

.staging-buttons {
  background-color: $neutral;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  grid-row: 3 / 4;
  grid-column: 1 / -1;
}

.preview-container {
  display: flex;
  align-items: end;
  padding: 10px;
  background-color: $neutral;
  border-bottom: 1px dashed $border;
  padding-bottom: 5px;
}

.preview-container div {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  margin-right: 11px;
}

.preview-container div:has(.hidden) {
  display: none;
}

.preview-container span {
  width: 4px;
  height: 0px;
  margin-top: 9px;
  margin-bottom: 2px;
  position: relative;
  box-shadow: 0px 0px 2px 2px #6baeec;
}

.preview-container .disabled + span {
  box-shadow: 0px 0px 2px 2px #cf12cb;
}

.preview-container #trombone + span {
  left: 3px
}
.preview-container #bassoon + span {
  right: 1px
}

.img-preview {
  max-height: calc(100% - 9px);

  &.disabled {
    filter: grayscale(0.8) opacity(0.4);
    pointer-events: none;
  }

  &:hover {
    cursor: pointer;
  }

  &#trumpet,
  &#violin,
  &#clarinet,
  &#flute {
    max-height: calc(60% - 9px)
  }
  &#bassoon {
    max-height: calc(80% - 9px)
  }
  &#piccolo {
    max-height: calc(35% - 9px)
  }
  &#horn {
    max-height: calc(45% - 9px)
  }
  &#trombone {
    max-height: calc(96% - 9px)
  }
}

.staging-area {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $neutral;
  grid-row: 2 / 4;
  grid-column: 1 / -1;
}

.staging-img {
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  object-fit: contain;
  padding: 5px;
  z-index: 2;
  animation: flash 1.4s ease-in-out infinite alternate;

  &:hover {
    cursor: grab;
  }
}

img[src*=flute].staging-img,
img[src*=clarinet].staging-img,
img[src*=piccolo].staging-img,
img[src*=bassoon].staging-img {
  animation: invert 1.5s cubic-bezier(0.46, 0.03, 0.52, 0.96) infinite alternate;
}

img[src*=horn].staging-img,
img[src*=trumpet].staging-img,
img[src*=trombone].staging-img {
  animation: rainbow 3s linear infinite;
}

@keyframes flash {
  0% { filter: saturate(.4); }
  100% { filter: saturate(1.6); }
}
@keyframes rainbow {
  0% { filter: hue-rotate(0deg); }
  100% { filter: hue-rotate(360deg); }
}
@keyframes invert {
  0% { filter: invert(0); }
  100% { filter: invert(.8);}
}

.grabbing {
  cursor: grabbing !important;
}

.stretch {
  object-fit: fill;
  padding: 20px 1px 20px 1px;
}

.board.covered {
  background-color: purple;
}