$placed: #b3aa92;
$neutral: #fffbf1;
$attacked: #a10000eb;
$border: #a06f35d1;

*,
*:before,
*:after {
  box-sizing: inherit;
  font-family: inherit;
  margin: 0;
}

html {
  box-sizing: border-box;
  background-image: linear-gradient(354deg, #ac7a00, #0f0c04);
  font-family: "Poiret One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.hidden {
  display: none !important;
}

.material-icons {
  font-size: 37px;
  color: #223a14;
  user-select: none;
}

img {
  user-select: none;
}

button,
select {
  border: none;
  background-color: #b4c3ae;
  opacity: 0.75;
  transition: 0.3s;
  user-select: none;

  &:hover {
    cursor: pointer;
    opacity: 1;
  }

  &:focus {
    outline: none;
  }
}

button:disabled {
  pointer-events: none;
}

.container {
  height: 100vh;
  display: grid;
  align-items: center;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100px 1fr 100px;
  background-image: url('../images/hall2.jpg');
  background-size: cover;
  background-position: center;
}

.control-panel {
  width: 100%;
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  grid-column: span 2;
  background-color: #a0703598;
  align-self: stretch;

  div,
  button {
    margin: 10px;
  }

  select {
    width: 100%;
  }

  select,
  button {
    font-size: 16px;
    padding: 5px;
    height: 31px;
  }

  h3 {
    color: #2f0a05;
    text-shadow: 0px 1px 0px #ffe7bf;
    margin-bottom: 4px;
    font-size: 36px;
    font-family: "Tangerine", cursive;
    user-select: none;
  }
}

.reset {
  background-color: #7a2e2e;
  color: white;
}

.control-panel .navigation,
.control-panel .reset {
  font-size: 20px;
  padding: 6px;
  position: relative;
  height: auto;
}

.control-panel .navigation:enabled:before {
  content: "";
  position: absolute;
  top: -4px;
  left: -4px;
  animation: enabled ease-in-out 1.3s infinite alternate;
  width: calc(100% + 8px);
  height: calc(100% + 8px);
}

@keyframes enabled {
  0% {border: 4px solid #ffffff00;}
  100% {border: 4px solid #4993ed;}
}

.control-panel.in-game,
.control-panel.setup {
  align-items: center;
}

.control-panel > * {
  display: none;
}
.control-panel.preferences .settings {
  display: block;
}
.control-panel.setup .reset {
  display: block;
}
.control-panel.in-game.two-player .navigation,
.control-panel.in-game .reset {
  display: block;
}

.curtain {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #4f5f2f;
  z-index: 10;
  opacity: 1;
  transition: opacity 2s;
  pointer-events: none;
}

.invisible {
  opacity: 0;
}

.board::before,
.board-setup-container::before {
  content: "Intermission...";
  position: absolute;
  transform: translate(-14px, -70px);
  color: #053778;
  background-color: #e2e2e280;
  padding: 7px;
  width: calc(100% + 28px);
  font-family: "Tangerine", cursive;
  font-size: 31px;
}

#board1::before {
  content: 'Intermission...';
}
#board1:has(.curtain.invisible)::before {
  content: "Player 1's Board";
}
#board2::before {
  content: 'Intermission...'
}
#board2:has(.curtain.invisible)::before {
  content: "Player 2's Board";
}
.board-setup-container:has(.invisible)::before {
  content: "Position Instruments"
}

.defense::before {
  color: #de130f;
  background-color: #371e00ab;
}

.board {
  position: relative;
  margin: 30px;
  border: 14px solid #a06f35d1;
  width: 80%;
  max-width: 540px;
  justify-self: center;
  aspect-ratio: 1;
  display: inline-grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-row-start: 2;

  .cell {
    background-color: $neutral;
    border: 0.5px solid #45280f;

    &.attacked {
      background-color: #90c1fff5;
      pointer-events: none;

      &.highlight-placed {
        background-color: $attacked;
      }
    }
  }

  .highlight-hovered {
    background-color: aquamarine;
  }

  .highlight-placed {
    background-color: $placed;
    z-index: 2;
  }

  &.defense {
    grid-column-start: 2;

    .highlight-placed {
      background-color: $neutral;
    }

    .cell {
      &:hover {
        cursor: pointer;
        background-color: #d90000ed;
      }

      &.sunk {
        &.highlight-placed {
          background-color: $attacked;
        }
      }
    }
  }

  &.offense {
    grid-column-start: 1;
    pointer-events: none;
  }

  &.disabled {
    pointer-events: none;
  }
}

.placed-img {
  object-fit: contain;
  padding: 5px;
  transform-origin: 0 0;
}

.placed-img-wrapper {
  border: 0.5px solid black;
  overflow: hidden;
  z-index: 3;
  opacity: 0.8;
}

.defense .placed-img-wrapper {
  // hide and allow pointer events on cells
  opacity: 0;
  z-index: 1;
}

.offense .placed-img-wrapper,
.sunk.placed-img-wrapper,
.game-over .placed-img-wrapper {
  z-index: 3;
  opacity: 0.8;
}

.board-setup-container {
  position: relative;
  display: grid;
  grid-template-rows: 116px 1fr 55px;
  grid-row-start: 2;
  margin: 30px;
  border: 14px solid $border;
  width: 80%;
  max-width: 540px;
  justify-self: center;
  aspect-ratio: 1;

  button {
    background: none;
    padding: 0;

    &:disabled {
      opacity: 35%;
    }
  }
}

.staging-buttons {
  background-color: $neutral;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  grid-row: 3 / 4;
  grid-column: 1 / -1;
}

.preview-container {
  display: flex;
  align-items: end;
  padding: 10px;
  background-color: $neutral;
  border-bottom: 1px dashed $border;
  padding-bottom: 5px;
}

.remaining-fleet div,
.preview-container div {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  margin-right: 11px;
}

.preview-container div:has(.hidden) {
  display: none;
}

.remaining-fleet span,
.preview-container span {
  width: 4px;
  height: 0px;
  margin-top: 9px;
  margin-bottom: 2px;
  position: relative;
  box-shadow: 0px 0px 2px 2px #42ae2e;
}

.preview-container .disabled + span {
  box-shadow: 0px 0px 2px 2px #6b6b6b
}

.remaining-fleet .trombone + span,
.preview-container .trombone + span {
  left: 3px
}
.remaining-fleet .bassoon + span,
.preview-container .bassoon + span {
  right: 1px
}

.img-preview {
  max-height: calc(100% - 9px);

  &.disabled {
    filter: grayscale(0.8) opacity(0.4);
    pointer-events: none;
  }

  &:hover {
    cursor: pointer;
  }
}

.img-preview,
.remaining-fleet img {
  &.trumpet,
  &.violin,
  &.clarinet,
  &.flute {
    max-height: calc(60% - 9px)
  }
  &.bassoon {
    max-height: calc(80% - 9px)
  }
  &.piccolo {
    max-height: calc(35% - 9px)
  }
  &.horn {
    max-height: calc(45% - 9px)
  }
  &.trombone {
    max-height: calc(96% - 9px)
  }
}

.staging-area {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $neutral;
  grid-row: 2 / 4;
  grid-column: 1 / -1;
}

.staging-img {
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  object-fit: contain;
  padding: 5px;
  z-index: 2;
  animation: flash 1.4s ease-in-out infinite alternate;

  &:hover {
    cursor: grab;
  }
}

img[src*=flute].staging-img,
img[src*=clarinet].staging-img,
img[src*=piccolo].staging-img {
  animation: flash-intense 1.4s ease-in-out infinite alternate;
}

@keyframes flash {
  0% { filter: saturate(.9) drop-shadow(0px 0px 6px #ff000000); }
  100% { filter: saturate(1.2) drop-shadow(0px 0px 11px #e73434ad)}
}
@keyframes flash-intense {
  0% { filter: saturate(.9) drop-shadow(0px 0px 6px #ff000000); }
  100% { filter: saturate(1.2) drop-shadow(0px 0px 5px #e10000)}
}

.grabbing {
  cursor: grabbing !important;
}

.stretch {
  object-fit: fill;
  padding: 20px 1px 20px 1px;
}

.board.covered {
  background-color: purple;
}

.remaining-fleet {
  position: absolute;
  width: calc(100% + 28px);
  height: 120px;
  top: calc(100% + 21px);
  left: -14px;
  display: flex;
  align-items: end;
  padding: 6px 14px;
  background-color: #41444cd9;
  border: 1px solid #00000040;
  pointer-events: none;
  transition: 2s;
}

.remaining-fleet * {
  transition: 2s;
}

.remaining-fleet.opaque * {
  opacity: 0;
}

.remaining-fleet div:has(.hidden) {
  display: none;
}

.remaining-fleet div {
  margin-right: 28px;
}

.remaining-fleet span {
  box-shadow: 0px 0px 2px 2px #6baeec;
}

.remaining-fleet .sunk + span {
  box-shadow: 0px 0px 2px 2px #c70c09;
}

.remaining-fleet img {
  max-height: calc(100% - 9px);
}

.remaining-fleet img.sunk {
  filter: grayscale(1) opacity(0.9);
}
.remaining-fleet img.sunk.trumpet,
.remaining-fleet img.sunk.trombone,
.remaining-fleet img.sunk.horn {
  filter: grayscale(1) opacity(0.5);
}

.moves {
  position: absolute;
  right: 0;
  top: -56px;
  display: flex;
  pointer-events: all;
}

@property --a{
  syntax: '<angle>';
  inherits: false;
  initial-value: 90deg;
}
@property --c{
  syntax: '<color>';
  inherits: false;
  initial-value: red;
}
@property --c2{
  syntax: '<color>';
  inherits: false;
  initial-value: blue;
}
@property --c3{
  syntax: '<color>';
  inherits: false;
  initial-value: blue;
}

.move {
  height: 20px;
  width: 20px;
  margin-left: 5px;
  border-radius: 50%;
  background: linear-gradient(var(--a), var(--c), var(--c2));
  animation: lava 9s linear infinite;
}

.moved {
  border: 1px solid var(--c3);
  animation: color-shift 5s linear infinite;
  background: transparent;
}

@keyframes lava {
  0% { 
    --a: 0deg;
    --c: #e61717;
    --c2: #124fc7;
  }
  50% {
    --c: #c800ff;
    --c2: #00ffc3;
  }
  100% { 
    --a: 360deg;
    --c: #e61717;
    --c2: #124fc7;
  }
}
@keyframes color-shift {
  0% { --c3: #e61717 }
  50% { --c3: #124fc7 }
  100% { --c3: #e61717 }
}