*,
*:before,
*:after {
  box-sizing: inherit;
  font-family: inherit;
  margin: 0;
}

html {
  box-sizing: border-box;
}

.hidden {
  display: none !important;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100px 1fr;
}

.board {
  margin: 30px;
  border: 0.5px solid rgb(0, 0, 0);
  height: 500px;
  width: 500px;
  display: inline-grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-row-start: 2;

  .cell {
    background-color: white;
    border: 0.5px solid black;
  }

  .highlight-hovered {
    background-color: aquamarine;
  }

  .highlight-placed {
    background-color: lightslategrey;
    z-index: 2;
    opacity: 0.3;
  }
}

.board-setup-container {
  grid-row-start: 2;
}

.preview-container {
  height: 150px;
  margin-top: 30px;
}

.img-preview {
  max-height: 100%;
  margin-right: 5px;

  &:hover {
    cursor: pointer;
  }

  &#trumpet,
  &#violin,
  &#clarinet,
  &#flute {
    max-height: 60%;
  }
  &#bassoon {
    max-height: 80%;
  }
  &#piccolo {
    max-height: 35%;
  }
  &#horn {
    max-height: 45%;
  }
  &#trombone {
    max-height: 96%;
  }
}

.staging-area {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.staging-img {
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  object-fit: contain;
  padding: 5px;
  z-index: 2;

  &:hover {
    cursor: grab;
  }
}

.grabbing {
  cursor: grabbing !important;
}

.placed-img {
  object-fit: contain;
  padding: 5px;
  transform-origin: 0 0;
}

.placed-img-wrapper {
  border: 0.5px solid black;
  background-color: white;
  overflow: hidden;
}

.stretch {
  object-fit: fill;
  padding: 20px 1px 20px 1px;
}
