.switch {
  position: relative;
  display: inline-block;
  width: 65px;
  height: 30px;
  margin-left: 10px;
  margin-right: 10px;
}

.switch:hover {
  cursor: pointer;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #4589b7;
  transition: 0.4s;
  font-size: 24px;
}

.slider:before {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  position: absolute;
  height: 100%;
  width: 50%;
  transition: 0.6s;

  content: 'music_off';
  color: #c1c1c1;
  background-color: #263635;
  padding-top: 4px;
  padding-left: 4px;
}

input:checked + .slider:before {
  transform: translateX(100%);
  content: 'music_note';
  color: #00551e;
  background-color: #f2f2f2;
}

.music-toggle .slider:before {
  content: 'music_off';
}

.music-toggle input:checked + .slider:before {
  content: 'music_note';
}

.sound-toggle .slider:before {
  content: 'volume_off';
}

.sound-toggle input:checked + .slider:before {
  content: 'volume_up';
}

@media (max-width: 850px) {
  .switch {
    height: 20px;
    width: 52px;
  }

  .slider:before {
    font-size: 16px;
    padding-top: 3px;
    padding-left: 5px;
  }
}
